<template>
  <b-card>
    <b-card-title>
      <b-link :to="{ name: 'PostView', params: {name:  post.title} }">{{ post.title }}</b-link>
    </b-card-title>
    <b-card-text>
      {{ post.body }}
    </b-card-text>
    <b-card-text class="small text-muted">Last updated 3 mins ago</b-card-text>
  </b-card>
</template>

<script>
export default {
  name: 'PostShortItem',
  props: {
    post: {
      type: Object
    }
  }
}
</script>

<style scoped>

</style>
