<template>
  <b-container>
    <b-row>
      <b-card-group columns>
        <post-short-item
          v-for="post in posts"
          :key="post.id"
          :post="post"
          class="mb-2">
        </post-short-item>
      </b-card-group>
    </b-row>
  </b-container>
</template>

<script>
import PostShortItem from './parts/PostShortItem'
import { mapGetters } from 'vuex'

export default {
  name: 'PostList',
  data () {
    return {
      load: false,
      posts: []
    }
  },
  components: {
    PostShortItem
  },
  computed: {
    ...mapGetters([
      'getAuth',
      'checkAuth'
    ])
  },
  mounted () {
    this.getPosts()
  },
  methods: {
    getPosts () {
      this.load = true
      this.http.post.all()
        .then(response => {
          this.posts = response.data
          this.load = false
        })
    }
  }
}
</script>

<style scoped>

</style>
