<template>

  <div>
    <b-card :title="post.title">
      <b-card-text>
        {{ post.body }}
      </b-card-text>

      <b-card-text>A second paragraph of text in the card.</b-card-text>

      <a href="#" class="card-link">Card link</a>
      <b-link href="#" class="card-link">Another link</b-link>
    </b-card>
  </div>

</template>

<script>
export default {
  name: 'PostView',
  data () {
    return {
      load: false,
      post: []
    }
  },
  mounted () {
    this.getPost()
  },
  methods: {
    getPost () {
      this.load = true
      this.http.post.show(this.$route.params.name)
        .then(response => {
          if (!response.data) {
            this.$router.push({ name: '404' })
          }
          this.post = response.data
          this.load = false
        })
    }
  }
}
</script>

<style scoped>

</style>
