<template>
  <b-container>
    <b-row class="justify-content-center">
      <b-col cols="6">
        <b-overlay :show="load" rounded="sm">
          <b-form @submit.prevent="onSubmit">

            <b-form-group
              id="input-group-1"
              label="Email address:"
              label-for="input-1"
            >
              <b-form-input
                id="input-1"
                v-model="form.email"
                type="email"
                placeholder="Enter email"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Password:" label-for="input-3">
              <b-form-input
                type="password"
                id="input-3"
                v-model="form.password"
                placeholder="Enter password"
                required
              ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Authorization</b-button>
          </b-form>
          <template #overlay>
            <div class="text-center">
              <b-spinner label="Large Spinner"></b-spinner>
              <p id="cancel-label">Loading...</p>
            </div>
          </template>
        </b-overlay>
      </b-col>
    </b-row>
  </b-container>

</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Login',
  data () {
    return {
      form: this.formFields(),
      load: false
    }
  },
  methods: {
    ...mapActions([
      'setAuth'
    ]),
    onSubmit () {
      this.load = true
      this.http.auth.login(this.form)
        .then((response) => {
          this.setAuth(response.data.user)
          this.load = false
          this.$router.push({ name: 'Blog' })
        })
        .catch((error) => {
          this.load = false
          console.log(error)
        })
    },
    formFields () {
      return {
        email: '',
        password: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
