<template>
  <b-container>
    <b-row class="justify-content-center">
      <b-col cols="6">
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">

          <b-form-group
            id="input-group-1"
            label="Email address:"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              v-model="form.email"
              type="email"
              placeholder="Enter email"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="form.name"
              placeholder="Enter name"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Password:" label-for="input-3">
            <b-form-input
              type="password"
              id="input-3"
              v-model="form.password"
              placeholder="Enter password"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Repeat password:" label-for="input-4">
            <b-form-input
              type="password"
              id="input-4"
              v-model="form.passwordRepeat"
              placeholder="Repeat password"
              required
            ></b-form-input>
          </b-form-group>

          <b-button type="submit" class="mr-2" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
      </b-col>
    </b-row>
  </b-container>

</template>

<script>
export default {
  name: 'Registration',
  data () {
    return {
      form: {
        email: '',
        name: '',
        password: '',
        passwordRepeat: ''
      },
      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      alert(JSON.stringify(this.form))
    },
    onReset (event) {
      event.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.name = ''
      this.form.food = null
      this.form.checked = []
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>

<style scoped>

</style>
