<template>
  <div id="app">
    <b-navbar type="dark" variant="dark">
      <b-navbar-brand :to="{ name: 'Home' }">
        {{ appName }}
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item :to="{ name: 'Home' }">Home</b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav v-if="!checkAuth">
          <b-nav-item :to="{ name: 'PostCreate' }">Create post</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">

          <b-navbar-nav v-if="checkAuth">
            <b-nav-item :to="{ name: 'Login' }">
              <b-icon icon="person-fill"></b-icon> Login
            </b-nav-item>
          </b-navbar-nav>

          <b-navbar-nav v-if="checkAuth">
            <b-nav-item :to="{ name: 'Registration' }">
              <b-icon icon="person-plus-fill"></b-icon> Registration
            </b-nav-item>
          </b-navbar-nav>

          <b-nav-item  v-if="!checkAuth">
            <b-icon icon="bell-fill" class="mr-1"></b-icon>
            <b-badge variant="light">0</b-badge>
          </b-nav-item>

          <b-nav-item-dropdown v-if="!checkAuth" right>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <b-icon icon="person-fill"></b-icon>
            </template>
            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>

        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <b-container fluid class="mt-5">
      <router-view/>
    </b-container>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      appName: this.configs.appName
    }
  },
  computed: {
    ...mapGetters([
      'getAuth',
      'checkAuth'
    ])
  }
}
</script>
